name: CI-CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve

      - name: Get Public IP
        id: terraform_output
        working-directory: ./terraform
        run: |
          IP=$(terraform output -raw instance_ip | head -n 1)
          echo "IP=$IP" >> $GITHUB_OUTPUT

      - name: Setup SSH Key
        run: |
          echo "${{ secrets.PRIVATE_KEY }}" > key.pem
          chmod 400 key.pem

      - name: Install Ansible
        run: sudo apt update && sudo apt install -y ansible

      - name: Run Ansible Playbook
        run: |
          echo "[web]" > inventory
          echo "${{ steps.terraform_output.outputs.IP }}" >> inventory
          ansible-playbook -i inventory ansible/install.nginx.yml\
            --private-key key.pem \
            -u ubuntu
